# Ignore Python virtual environments
venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db
.env
# Ignore logs and temporary files
*.log
*.tmp
# Ignore Streamlit secrets
.streamlit/secrets.toml
